<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div
      class="navbar-collapse justify-content-center"
      id="navbarCenteredExample"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}" id='homeItem'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'quizes' %}" id="quizesItem">Quizes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create' %}" id="creatorItem">Create</a>
        </li>
        {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sign' %}" id="signItem">Log in</a>
          </li>
        {% endif %}
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sign' %}" id="accountItem">Hi {{request.user.username}}!</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>