{% extends 'base/base.html' %}
{%block content%}
<div class="container">
  <div class="row">
    <div class="col-12">
      <p>&nbsp;</p>
      <h1 class='display-4 text-center'>Sign up or log in!</h1>
    </div>
  </div>
  {% if not user.is_authenticated %}
  <form method="POST">
    <!-- Login -->
    <div class="form-outline mx-auto" style="max-width: 700px">
      <p>&nbsp;</p>
      {{form.username.label}}
      {{form.username}}
    </div>

    <!-- Password -->
    <div class="form-outline mx-auto" style="max-width: 700px">
      {{form.password.label}}
      {{form.password}}
    </div>
    <!-- Sign in Button -->
    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-block ">Sign in</button>
    </div>

    <!-- Register Button -->
    <div class="text-center">
      <p>&nbsp;</p>
      <p>Not a member? <a href="{% url 'register' %}">Register</a></p>
    </div>
    {% csrf_token %}

  </form>
  {% else %}
  <div class="mx-auto d-flex flex-column justify-content-center" style="max-width:700px;">
    <p>&nbsp;</p>
    <h1 class = "display-6">Hi {{request.user.username}}!</p>
    <p class="lead">
      You can <a style="text-decoration:none" href="{% url 'logout' %}">log out</a> here.
    </p>
  </div>
  {% endif %}
  {%endblock content%}