{% extends 'base/base.html' %}
{% block content %}
<div class="cointainer">
    {% if user.is_authenticated %}
    <div class="mx-auto d-flex flex-column justify-content-center" style="max-width: 700px; margin-top: 5%;">
        <form method="post">
            {% csrf_token %}
            <!-- Question -->
            {{question_form.as_p}}
            <!-- First answer -->
            <div class="input-group mb-3">
                <div class="input-group-text">
                    {{answers_form.correct1}}
                </div>
                {{answers_form.answer1}}
            </div>
            <!-- Second answer -->
            <div class="input-group mb-3">
                <div class="input-group-text">
                    {{answers_form.correct2}}
                </div>
                {{answers_form.answer2}}
            </div>
            <!-- Third answer -->
            <div class="input-group mb-3">
                <div class="input-group-text">
                    {{answers_form.correct3}}
                </div>
                {{answers_form.answer3}}
            </div>
            <!-- Fourth answer -->
            <div class="input-group mb-5">
                <div class="input-group-text">
                    {{answers_form.correct4}}
                </div>
                {{answers_form.answer4}}
            </div>
            <!-- Buttons -->
            <div class="d-grid gap-2" style="margin-left: 35%; margin-right: 35%;">
                <button type="submit" class="btn btn-outline-dark">Next question</button>
                <a href="{% url 'quizes' %}" class="btn btn-outline-dark">Go to quizes</a>
            </div>
        </form>
    </div>
    {% else %}
    <div class="mx-auto d-flex flex-column justify-content-center" style="max-width:700px;">
        <p>&nbsp;</p>
        <h1 class = "display-6">You have to be logged in to create a quiz.</p>
        <p class="lead">
          You can <a style="text-decoration:none" href="{% url 'sign' %}">log in</a> here.
        </p>
    </div>
    {% endif %}
</div>
{% endblock content %}