{% extends 'base/base.html' %}
{% block content %}
<div class="cointainer">
    <div class="m-5 d-flex flex-column justify-content-center">
        <!-- Question -->
        <input type="text" class="form-control mb-4" placeholder="Enter Question">
        <!-- First answer -->
        <div class="input-group mb-3">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value=""
                    aria-label="Checkbox for following text input">
            </div>
            <input type="text" class="form-control" placeholder="First answer" aria-label="Text input with checkbox">
        </div>
        <!-- Second answer -->
        <div class="input-group mb-3">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value=""
                    aria-label="Checkbox for following text input">
            </div>
            <input type="text" class="form-control" placeholder="Second answer" aria-label="Text input with checkbox">
        </div>
        <!-- Third answer -->
        <div class="input-group mb-3">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value=""
                    aria-label="Checkbox for following text input">
            </div>
            <input type="text" class="form-control" placeholder="Third answer" aria-label="Text input with checkbox">
        </div>
        <!-- Fourth answer -->
        <div class="input-group mb-5">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value=""
                    aria-label="Checkbox for following text input">
            </div>
            <input type="text" class="form-control" placeholder="Fourth answer" aria-label="Text input with checkbox">
        </div>
        <!-- Buttons -->
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark" style="margin-left: 10%; margin-right: 10%;">Add another
                question</button>
            <button type="button" class="btn btn-outline-dark" style="margin-left: 10%; margin-right: 10%;">Add and save
                quiz</button>
        </div>
    </div>
</div>
{% endblock content %}