{% extends 'base/base.html' %}
{%block content%}
<div class="cointainer">

    <div class="row">
        <div class="col-12">
            <p>&nbsp;</p>
            <h1 class='display-4 text-center'>Create Quiz!</h1>
        </div>
    </div>

    <p>&nbsp;</p>
    <div class="mx-auto d-flex flex-column justify-content-center" style="max-width:700px;">
        <input type="text" class="form-control mb-4" id="quizNameInput" placeholder="Enter Quiz Name">
        <select class="form-select mb-5">
            <option selected>Select category</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <a class="btn btn-outline-dark" role="button" style="margin-left: 35%; margin-right: 35%;"
            href="{% url 'add' %}">Create</a>
    </div>
</div>
{%endblock content%}