{% extends 'base/base.html' %}
{%block content%}
<div class="cointainer">

    <div class="row">
        <div class="col-12">
            <p>&nbsp;</p>
            <h1 class='display-4 text-center'>Create Quiz!</h1>
        </div>
    </div>

    <p>&nbsp;</p>
    {% if user.is_authenticated %}
    <div class="mx-auto d-flex flex-column justify-content-center" style="max-width:700px;">
          <form method="post" class="form-group">
          {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-outline-dark" style="margin: 0 35% 0 35%; width: 30%">Create</button>
          </form>
    </div> 
    {%endif%}
    {% if not user.is_authenticated %}
    <div class="mx-auto d-flex flex-column justify-content-center" style="max-width:700px;">
        <p class="text-center lead">You must be logged in to create a quiz!</p>
    </div>
    {% endif %}
</div>
{%endblock content%}