{% extends 'base/base.html' %}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p>&nbsp;</p>
        <h1 class = 'display-4 text-center'>Quizes</h1>
        <p>&nbsp;</p> <p>&nbsp;</p> <p>&nbsp;</p>
        </div>
    </div>
</div>

<!-- Quizes list-->

<div class="row row-cols-1 row-cols-md-4 text-center" style="width: 108%; justify-content: center;">

    <!-- Quiz number 1 -->
    <div class="col mb-4">
        <div class="card h-100" style="width: 75%;">
          <div class="card-body">
            <h5 class="card-title">Quiz Name 1</h5>
            <p class="card-text">Enter this Quiz by clicking here!</p>
            <a href="#" class="btn btn-primary stretched-link">Enter Quiz!</a>
          </div>
        </div>
      </div>
    
    <!-- Quiz number 2 -->
    <div class="col mb-4">
        <div class="card h-100" style="width: 75%;">
        <div class="card-body">
          <h5 class="card-title">Quiz Name 2</h5>
          <p class="card-text">Enter this Quiz by clicking here!</p>
          <a href="#" class="btn btn-primary stretched-link">Enter Quiz!</a>
        </div>
      </div>
    </div>

    <!-- Quiz number 3 -->
    <div class="col mb-4">
        <div class="card h-100" style="width: 75%;">
          <div class="card-body">
            <h5 class="card-title">Quiz Name 3</h5>
            <p class="card-text">Enter this Quiz by clicking here!</p>
            <a href="#" class="btn btn-primary stretched-link">Enter Quiz!</a>
          </div>
        </div>
      </div>
    
  </div>


{%endblock content%}