{% extends 'base/base.html' %}
{%block content%}
<div class="container">
  <div class="row">
    <div class="col-12">
      <p>&nbsp;</p>
      <h1 class='display-4 text-center'>Quizes</h1>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  </div>
</div>

<!-- Quizes list-->

{% if quizes.length == 0 %}
{% for quiz,questions in quizes %}
<div class="row row-cols-1 row-cols-md-4 text-center mx-auto">
  <div class="col mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="card-title">{{quiz}}</h2>
        <h5>Questions: {{questions}}</h5>
        <h5>Topic: {{quiz.category}}</h5>
        <p class="card-text">Enter this Quiz by clicking here!</p>
        <a href="{% url 'solving' quiz.id %}" class="btn btn-primary stretched-link">Enter Quiz!</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
<div class="mx-auto d-flex flex-column justify-content-center" style="max-width:700px;">
  <p>&nbsp;</p>
  <h1 class="display-6">There are no quizes yet to be solved.</p>
    <p class="lead">
      You can <a style="text-decoration:none" href="{% url 'create' %}">create some</a> here.
    </p>
</div>
{% endif %}


{%endblock content%}