{% extends 'base/base.html' %}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p>&nbsp;</p>
        <h1 class = 'display-4 text-center'>Quizes</h1>
        <p>&nbsp;</p> <p>&nbsp;</p> <p>&nbsp;</p>
        </div>
    </div>
</div>

<!-- Quizes list-->

<div class="row row-cols-1 row-cols-md-4 text-center mx-auto">

    <!-- Quiz number 1 -->
    <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Quiz Name 1</h2>
            <h5>Questions: 5</h5>
            <h5>Topic: Mathematics</h5>
            <p class="card-text">Enter this Quiz by clicking here!</p>
            <a href="#" class="btn btn-primary stretched-link">Enter Quiz!</a>
          </div>
        </div>
      </div>
    
    <!-- Quiz number 2 -->
    <div class="col">
        <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Quiz Name 2</h2>
          <h5>Questions: 5</h5>
          <h5>Topic: Technology</h5>
          <p class="card-text">Enter this Quiz by clicking here!</p>
          <a href="#" class="btn btn-primary stretched-link">Enter Quiz!</a>
        </div>
      </div>
    </div>

    <!-- Quiz number 3 -->
    <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Quiz Name 3</h2>
            <h5>Questions: 5</h5>
            <h5>Topic: Animals</h5>
            <p class="card-text">Enter this Quiz by clicking here!</p>
            <a href="#" class="btn btn-primary stretched-link">Enter Quiz!</a>
          </div>
        </div>
      </div>
    <!-- Quiz number 4 -->
    <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Quiz Name 4</h2>
            <h5>Questions: 5</h5>
            <h5>Topic: Animals</h5  >
            <p class="card-text">Enter this Quiz by clicking here!</p>
            <a href="#" class="btn btn-primary stretched-link">Enter Quiz!</a>
          </div>
        </div>
      </div>
    <!-- Quiz number 5 -->
    <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Quiz Name 5</h2>
            <h5>Questions: 5</h5>
            <h5>Topic: Animals</h5  >
            <p class="card-text">Enter this Quiz by clicking here!</p>
            <a href="#" class="btn btn-primary stretched-link">Enter Quiz!</a>
          </div>
        </div>
      </div>
    <!-- Quiz number 6 -->
    <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Quiz Name 6</h2>
            <h5>Questions: 5</h5>
            <h5>Topic: Animals</h5  >
            <p class="card-text">Enter this Quiz by clicking here!</p>
            <a href="#" class="btn btn-primary stretched-link">Enter Quiz!</a>
          </div>
        </div>
      </div>
    
  </div>


{%endblock content%}